.app-mainContainer {
    background-color: #5d5d65;
    color: #f1faee;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-toolbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    i {
        margin-right: 0.3em;
    }
    p {
        margin-bottom: 0 !important;
    }
}

.app-toolbar {
    padding: 0 0.5em;
}

.app-dataContainer {
    padding: 0.5em;
}

.app-gameForm-container,
.app-turnForm-container,
.app-throwBlocks-container,
.app-possibleSecuences-container {
    background-color: #363640;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.3em;
}

.app-player-templateContainer {
    display: flex;
    align-items: center;
}

.app-player-colorBox {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.app-player-templateContainer-turnForm {
    font-size: 1.4em;
    margin-top: 0.4em;
    padding-bottom: 3.4px;
    border-bottom: 1px solid white;
}

.app-throwBlocks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2.8em, 1fr));
    flex: 1;
    margin-left: 0.5em;
    height: 100%;
}

.app-turnBlock {
    height: 2.3em;
    border: 1px solid #363640;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
    }
}

.app-gameMode-top {
    display: flex;
    justify-content: space-between;
}

.app-winningPath {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}