<!-- <router-outlet></router-outlet> -->
<div class="app-mainContainer">

    <!-- Toolbar -->
    <dx-toolbar [class]="'app-toolbar'">
        <!-- Nombre de la sección -->
        <dxi-item location="before" locateInMenu="never">
            <div *dxTemplate>
                <div class="app-toolbar-title">
                    <ng-container *ngIf="currentMode === modeEnum.configurating">
                        <i class="fas fa-cog"></i>
                        <p>Configurando el juego</p>
                    </ng-container>
                    <ng-container *ngIf="currentMode === modeEnum.playing">
                        <i class="fas fa-gamepad"></i>
                        <p>Jugando ...</p>
                    </ng-container>
                </div>
            </div>
        </dxi-item>
        <!-- Boton resetear formulario -->
        <dxi-item [visible]="currentMode === modeEnum.configurating" location="after" widget="dxButton" locateInMenu="never" [options]="resetGameFormButtonOptions">
        </dxi-item>
        <!-- Boton comenzar juego -->
        <dxi-item [visible]="currentMode === modeEnum.configurating" location="after" widget="dxButton" locateInMenu="never" [options]="startGameButtonOptions">
        </dxi-item>
        <!-- Botón reiniciar juego -->
        <dxi-item [visible]="currentMode === modeEnum.playing" location="after" widget="dxButton" locateInMenu="never" [options]="resetGameButtonOptions">
        </dxi-item>
        <!-- Botón regresar a modo config -->
        <dxi-item [visible]="currentMode === modeEnum.playing" location="after" widget="dxButton" locateInMenu="never" [options]="returnToConfigButtonOptions">
        </dxi-item>
    </dx-toolbar>

    <!-- Contenedor de contenido -->
    <div class="app-dataContainer">

        <!-- MODO CONFIGURACIÓN -->
        <ng-container *ngIf="currentMode === modeEnum.configurating">
            <!-- Contenedor formulario de juego-->
            <dx-form #gameFormReference id="gameForm" [formData]="gameForm" [class]="'app-gameForm-container'">
                <dxi-item itemType="group" [colCount]="3">
                    <!-- Total de bloques -->
                    <dxi-item itemType="simple" dataField="totalBlocks">
                        <dxo-label text="Número de bloques"></dxo-label>
                        <dxi-validation-rule type="required" [message]="FIELD_REQUIRED_MESSAGE">
                        </dxi-validation-rule>
                    </dxi-item>
                    <!-- Número mínimo para escoger -->
                    <dxi-item itemType="simple" dataField="minThrowNumber">
                        <dxo-label text="Número mínimo para escoger"></dxo-label>
                        <dxi-validation-rule type="required" [message]="FIELD_REQUIRED_MESSAGE">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="custom" [validationCallback]="validateMinThrowNumber" message="El numero no puede ser mayor o igual a la cantidad máxima">
                        </dxi-validation-rule>
                    </dxi-item>
                    <!-- Número máximo para escoger -->
                    <dxi-item itemType="simple" dataField="maxThrowNumber">
                        <dxo-label text="Número máximo para escoger"></dxo-label>
                        <dxi-validation-rule type="required" [message]="FIELD_REQUIRED_MESSAGE">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="custom" [validationCallback]="validateMaxThrowNumber" message="El numero no puede ser menor o igual a la cantidad mínima">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
            </dx-form>

            <dx-form id="gameForm" [formData]="gameForm" [class]="'app-gameForm-container'">
                <!-- Jugadores -->
                <dxi-item itemType="group" caption="Jugadores">
                    <dxi-item [template]="'playersTemplate'">
                    </dxi-item>
                </dxi-item>
                <div *dxTemplate="let data of 'playersTemplate'">
                    <dx-data-grid id="gridContainer" [dataSource]="gameForm.players" [allowColumnReordering]="true" [allowColumnResizing]="true" (onInitNewRow)="onPlayerInitNewRow($event)">
                        <dxo-editing [allowAdding]="true" [allowDeleting]="true" [allowUpdating]="true" [useIcons]="true"></dxo-editing>

                        <dxi-column dataField="name" caption="Nombre del jugador">
                            <dxi-validation-rule type="required" [message]="FIELD_REQUIRED_MESSAGE">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column dataField="color" caption="Color del jugador" editCellTemplate="colorEditor" cellTemplate="colorTemplate">
                            <dxi-validation-rule type="required" [message]="FIELD_REQUIRED_MESSAGE">
                            </dxi-validation-rule>
                        </dxi-column>

                        <!-- Columna personalizada de color -->
                        <div *dxTemplate="let data of 'colorTemplate'" class="app-player-templateContainer">
                            <div class="app-player-colorBox" [ngStyle]="{backgroundColor: data.value}"></div>
                            <p>{{data.value}}</p>
                        </div>

                        <!-- Editor de colores -->
                        <div *dxTemplate="let cellInfo of 'colorEditor'">
                            <dx-color-box [value]="cellInfo.value" applyValueMode="instantly" valueExpr="ID" displayExpr="FullName" (onValueChanged)="cellInfo.setValue($event.value)" (onSelectionChanged)="cellInfo.component.updateDimensions()">
                            </dx-color-box>
                        </div>
                    </dx-data-grid>
                </div>
            </dx-form>
        </ng-container>

        <!-- MODO JUEGO -->
        <div class="app-gameMode-container" *ngIf="currentMode === modeEnum.playing">

            <!-- Contenedor resultados posibles -->
            <div class="app-possibleSecuences-container">
                <p>Pasos para ganar - {{blankTurnBlocksNumber}} cuadros disponibles</p>
                <div *ngIf="winningPath.length > 0" class="app-winningPath">
                    <p *ngFor="let number of winningPath, index as i">{{number}} {{i === winningPath.length-1? null: '+'}} </p>
                </div>
                <div *ngIf="winningPath.length === 0" class="app-winningPath">
                    <p>No se encontró el camino</p>
                </div>
            </div>

            <div class="app-gameMode-top">
                <!-- Contenedor formulario de turno -->
                <dx-form [formData]="turnForm" [class]="'app-turnForm-container'" height="100%">
                    <dxi-item template="colorTurnFormTemplate">
                        <dxo-label text="Jugador actual"></dxo-label>
                    </dxi-item>
                    <dxi-item template="selectedThrowTemplate">
                        <dxo-label text="Bloques a recorrer"></dxo-label>
                    </dxi-item>
                    <dxi-item template="launchButtonTemplate">
                    </dxi-item>
                    <div *dxTemplate="let data of 'colorTurnFormTemplate'" class="app-player-templateContainer app-player-templateContainer-turnForm">
                        <div class="app-player-colorBox" [ngStyle]="{backgroundColor: turnForm.currentPlayer.color}"></div>
                        <p>{{turnForm.currentPlayer.name}}</p>
                    </div>
                    <!-- Template jugador actual -->
                    <div *dxTemplate="let data of 'launchButtonTemplate'">
                        <dx-button width="100%" stylingMode="contained" icon="fas fa-rocket" text="Lanzar" type="success" (onClick)="onLaunchThrow()">
                        </dx-button>
                    </div>
                    <!-- Template tiros a lanzar -->
                    <div *dxTemplate="let data of 'selectedThrowTemplate'">
                        <dx-select-box #selectedThrowDxSelectBox [searchEnabled]="true" [items]="availableTurnThrowList" [(value)]="turnForm.selectedThrow"></dx-select-box>
                    </div>
                </dx-form>
                <!-- Contenedor grafo -->
                <div class="app-throwBlocks-container">
                    <div *ngFor="let turnBlock of allTurnBlocks, index as i" class="app-turnBlock" [ngStyle]="{backgroundColor: turnBlock.player? turnBlock.player.color: 'whitesmoke', color: turnBlock.player? turnBlock.player.color: 'black'}">
                        <p>{{i+1}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>